html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.interfaz {
    border: solid 1px black;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;
    height: 400px;
    margin-top: -200px;
    width: 600px;
    margin-left: -300px;
}